@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/home.css" rel="stylesheet" />
    <title>Web Compiler</title>
</head>
<body class="body">
    <div>
        <div class="left-box">
            <b>Challenge</b>
            <p>
                Mark and Jane are very happy after having their first kid. Their son is very fond of toys, so Mark wants to buy some. There are N different toys lying in front of him, tagged with their prices, but he has only $K. He wants to maximize the number of toys he buys with this money.
Now, you are Mark's best friend and have to help him buy as many toys as possible.
                <br />
                <br />
                <b>Input Format</b>
                The first line contains two integers, N and K, followed by a line containing N space separated integers indicating the products' prices.
                <b>Output Format</b>
                An integer that denotes maximum number of toys Mark can buy for his son.
                <br />
                <br />
                <br />
            </p>
            <div>
                <b>Example</b>
                <br />
                <b>Input</b>
                <div class="sample">
                    7 50
                    <br />
                    1 12 5 111 200 1000 10
                </div>
                <b>Output</b>
                <div class="sample">
                    4
                </div>
            </div>
        </div>
        <div class="right-box">
            <div class="code-editor-header">
                <div class="text">
                    <b>Editor</b>
                </div>

                <div align="right">
                    <select id="language" class="form-control">
                        <option value="csharp">Select Language</option>
                        <option value="csharp">CSharp</option>
                        <option value="java">Java</option>
                        <option value="scala">Scala</option>
                    </select>

                </div>
            </div>
            <div id="code-editor">
            </div>
            <div class="code-editor-footer">
                <div class="text">
                    <label id="cursor-position">
                    </label>
                </div>

                <div align="right">
                    <button id="compile" class="btn btn-success">Compile</button>
                    <button id="run" class="btn btn-success">Run Program</button>
                </div>
            </div>
            <b>Output</b>
            <div id="success" class="bg-success alert"></div>
            <div id="error" class="bg-danger alert"></div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-1.6.4.min.js"></script>
<script src="~/Content/ace.js"></script>
<script src="~/Content/csharp.js"></script>


<script type="text/javascript">

    $(document).ready(function () {

        //initialize editor
        var editor = ace.edit("code-editor");
        editor.setValue(localStorage.getItem("code"));
        editor.getSession().setMode("ace/mode/csharp");

        $('#code-editor').keydown(function () {

            var cursorObj = editor.selection.getCursor();
            $('#cursor-position').html("Row: " + cursorObj.row + " Col: " + cursorObj.column);
            localStorage.setItem("code", editor.getValue());

        });

        $('#compile').click(function () {
            debugger;
            $.post("/home/compilecode", { code: editor.getValue(), language: $('#language').val() })
             .done(function (data) {
                 var parsedData = JSON.parse(data);
                 debugger;
                 bindResult(parsedData);
             });

        });


        $('#run').click(function () {

            $.post("/home/runcode", { code: editor.getValue(), language: $('#language').val() })
             .done(function (data) {
                 var parsedData = JSON.parse(data);
                 bindResult(parsedData);
             });

        });


        var bindResult = function (data) {
            if (data.status) {
                $('#success').html(data.message);
                $('#error').hide();
                $('#success').show();
            }
            else {
                $('#error').html(data.message);
                $('#success').hide();
                $('#error').show();
            }
        }
    });

</script>

<script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
<script src="~/Content/home.js"></script>

