.body {
    padding: 0px;
    margin: 0px;
}

label {
    color: gray;
    font-weight: normal;
    font-size:11px;
}

.left-box {
    float: left;
    width: 45%;
    padding: 2%;
    font-size: 18px;
    font-family: "Open Sans", "lucida grande", "Segoe UI",arial,verdana, "lucida sans unicode",tahoma,sans-serif;
}

.right-box {
    border-width: 10px;
    border-left-style: solid;
    border-color: #F0F0F0;
    float: right;
    width: 50%;
    min-height: 700px;
}

.code-editor-header {
    background-color: #F0F0F0;
    padding: 5px;
    width: 100%;
}

#code-editor {
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    height: 450px;
    width: 100%;
    font-size: 14px;
}

.code-editor-footer {
    height: auto;
    background-color: #F0F0F0;
    padding: 4px;
}

.text {
    width: 120px;   
    float: left;
}

.sample {
    padding: 5px;
    background-color: #F0F0F0;
    margin-bottom: 15px;
}

.alert {
    margin: 10px;
    padding: 10px;
    display: none;
}
